h1 {
    margin-bottom: 40px;
}

input {
    margin: 10px;
    margin-left: 8px;
    padding: 4px;
}

label {
    margin-top: 20px;
}

#logindiv {
    margin-left: 40%;
    height: 600px;
    margin-top: 80px;
    width: 400px;
    content: auto-fit;
}

#submit {
    background-color: rgb(247, 81, 21);
    border: 1px solid rgb(194, 8, 8);
    color: white;
    width: 390px;
    height: 40px;
    font-size: 15px;
}